$side: 10em;
$spheres: $side*2;
$base_opacity_links: 0.3;
$padding_lateral_description_column: 4em;
.speheres-box {
  padding-top: 0;
  padding-left: 8em;
  margin: 0 auto;
  display: block;
}

.spheres {
}

.hidden {
  visibility: hidden;
}

.linkings {
  position: relative;
  left: 0;
  top: 0;
  z-index: -1
}

.linking {
  position: relative;
  width: 51em;
  display: block;
  border-top: 2px solid rgba(255, 255, 255, $base_opacity_links);
  z-index: -1;
  transform-origin: left;
  transition: border-width ease 0.3s, border-color ease-in-out 1s;

  &.enabled {
    width: 51em;
    transition: width 1s ease;
    border-top: 3px solid rgba(255, 255, 255, 1);
  }

  &:nth-of-type(1) {
    transform: rotate(-30deg);
    width: $spheres*2/3;
  }

  &:nth-of-type(2) {
    transform: rotate(0deg);
    width: $spheres*2/1.5;
  }

  &:nth-of-type(3) {
    transform: rotate(27deg);
  }

  &:nth-of-type(4) {
    transform: rotate(58deg);
    width: $spheres*2/1.5;
  }

  &:nth-of-type(5) {
    transform: rotate(90deg);
    width: $spheres*2/3;
  }
}

.sphere {
  float: left;
  display: inline-block;
  width: $side;
  height: $side;
  border-radius: 100%;
  box-shadow: 0 0 1em white;
  transition: 0.8s background-color ease-out;
  margin: $spheres/10;
  border: solid 3px white;

  img {
    width: $side;
    padding: 0;
    margin: 0;
    z-index: 2;
  }

  &:hover, &.enabled {
    background: white;
    box-shadow: 0 0 3em white;
    transition: 0.2s all ease-in;

    .linking {
      border-color: white;
      box-shadow: 0 0 1em white;
      border-width: 4px;
      transition: all ease 0.3s;
    }
  }

  &:nth-of-type(1) {
    margin-top: $spheres/2;
    animation: float 6s ease-in-out infinite;

    .linkings {
      transform: rotate(0deg);
      left: 7.5em;
      top: -7.5em;
    }
  }

  &:nth-of-type(2) {
    animation: float 5.5s ease-in-out infinite;

    .linkings {
      transform: rotate(59deg);
      position: relative;
      left: 3.5em;
      top: -1em;
    }
  }

  &:nth-of-type(3) {
    margin-top: $spheres/2;
    animation: float2 6s ease-in-out infinite;

    .linkings {
      transform: rotate(120deg);
      position: relative;
      left: -3.5em;
      top: -1em;
    }
  }

  &:nth-of-type(4) {
    clear: both;
    animation: float 5.5s ease-in-out infinite;

    .linkings {
      transform: rotate(303deg);
      position: relative;
      left: 4em;
      top: -13em;
    }
  }

  &:nth-of-type(5) {
    margin-top: $spheres /2;
    animation: float 6.5s ease-in-out infinite;

    .linkings {
      transform: rotate(243deg);
      position: relative;
      left: -1em;
      top: -14.5em;
    }
  }

  &:nth-of-type(6) {
    margin-top: 2.9em;
    animation: float 6.2s ease-in-out infinite;

    .linkings {
      transform: rotate(180deg);
      position: relative;
      left: -7.5em;
      top: -7.5em;
    }
  }
}

.descr {
  margin-top: 4em;
  font-family: Calibri, Ubuntu, SansSerif, 'DejaVu Sans', Arial;
  width: 100%;
  p {
    text-align: justify;
  }

  .first-part {
    padding: 0 $padding_lateral_description_column;
  }

  p {
    display: block;
    opacity: 0;
    transition: all ease 0.5s;

    &.enabled {
      opacity: 1;
    }
  }
}

.descriptif {
  position: absolute;
  top: $spheres +1em;
  width: $spheres + $side*1.25;
  margin: 1em auto;
  padding: 0 $side*0.8 0;
  text-align: center;
  font-size: 1.3em;
  z-index: 1;
}

.ball {
  padding: 2em;
  border: solid 2px grey;
  box-shadow: 0 0 10px;
  border-radius: 100%;
}

.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

#licensing {
  fill: green;
}

.link.licensing {
  stroke: green;
}

.link.resolved {
  stroke-dasharray: 0, 2, 1;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-5px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float2 {
  0% {
    transform: translatey(5px);
  }
  50% {
    transform: translatey(+5px);
  }
  100% {
    transform: translatey(5px);
  }
}
