<div class='spheres columns'>
	<div class='descr column  is-4  is-size-5 content'>
		<div class='first-part'>

			<div class='strophe'>
				<h1>Découvrir le Fédiverse</h1>
				<p v-bind:class='{ enabled: strophes.strophe_1 }'>
					Tous ces univers communiquent librement entre eux. Ainsi, il vous suffit d’être inscrit sur l’un d’eux pour
					profiter et échanger du contenu de tous les autres sites.
				</p>
			</div>
			<p v-bind:class='{ enabled: strophes.strophe_2 }'>
				Par exemple, vous voulez principalement <strong> écrire des billets de blog </strong>, mais un ami vous a parlé
				d’une super <strong> vidéo </strong> que vous avez <strong> envie de partager </strong> à votre tour.
			<p v-bind:class='{ enabled: strophes.strophe_3 }'>
				Vous pouvez tout simplement le faire, sans autre formalité !
			</p>
			<p v-bind:class='{ enabled: strophes.strophe_4 }'>
				Il en va de même avec toutes les combinaisons possibles ! 'Quel univers vous inspire le plus ?'
			</p>
			<hr>
			<button @click='playAnimation()' class='btn button is-large is-primary'>
				'Revoir l'explication'
			</button>
		</div>
		<div class='fading-text'>

		</div>

	</div>
	<div class='column  is-8-desktop-only'>

		<div class='speheres-box'>

			<div class='descriptif'>
				{{descriptif}}
			</div>
			<ul class='speheres'>
				<li class='sphere'
							v-bind:class='{ enabled: spheres.photo.emphasis }'
				>
					<router-link to='/decouvrir/photo'>
						<img @mouseenter='setDescription(texts.photo)'
									alt='photo'
									class='card-header-icon' src='../../assets/spheres/PictoJoinFedi-Photo.png'>
						<SphereLinkings></SphereLinkings>
					</router-link>
				</li>
				<li class='sphere'
							v-bind:class='{ enabled: spheres.microblog.emphasis }'>
					<router-link to='/decouvrir/microblog'>
						<img @mouseenter='setDescription(texts.microblog)'
									alt='micro blogging' class='card-header-icon' src='../../assets/spheres/PictoJoinFedi-Microblog.png'>

						<sphere-linkings></sphere-linkings>
					</router-link>
				</li>
				<li @mouseenter='setDescription(texts.redaction)' class='sphere'
							v-bind:class='{ enabled: spheres.redaction.emphasis }'>
					<img alt='rédaction' class='card-header-icon' src='../../assets/spheres/PictoJoinFedi-Texte.png'>
					<div class='linkings'>
						<div class='linking'></div>
						<div class='linking'></div>
						<div class='linking'></div>
						<div class='linking'></div>
						<div class='linking'></div>
					</div>
				</li>
				<li @mouseenter='setDescription(texts.video)' class='sphere'
							v-bind:class='{ enabled: spheres.video.emphasis }'>
					<img alt='vidéo' class='card-header-icon' src='../../assets/spheres/PictoJoinFedi-Video.png'>
					<div class='linkings'>
						<div class='linking'></div>
						<div class='linking'></div>
						<div class='linking'></div>
						<div class='linking'></div>
						<div class='linking'></div>
					</div>
				</li>
				<li @mouseenter='setDescription(texts.music)' class='sphere'
							v-bind:class='{ enabled: spheres.music.emphasis }'>
					<img alt='musique' class='card-header-icon' src='../../assets/spheres/PictoJoinFedi-Musique.png'>
					<div class='linkings'>
						<div class='linking'></div>
						<div class='linking'></div>
						<div class='linking'></div>
						<div class='linking'></div>
						<div class='linking'></div>
					</div>
				</li>

				<li @mouseenter='setDescription(texts.events)' class='sphere'
							v-bind:class='{ enabled: spheres.events.emphasis }'>
					<img alt='rédaction' class='card-header-icon is-disabled'
								src='../../assets/spheres/PictoJoinFedi-Evenements.png'>
					<div class='linkings'>
						<div class='linking'></div>
						<div class='linking'></div>
						<div class='linking'></div>
						<div class='linking'></div>
						<div class='linking'></div>
					</div>
				</li>
			</ul>

		</div>
	</div>
</div>
