h1,
h2 {
    font-family: basker, serif;
}

.title {
    font-family: basker;
    font-size: 3em;
    margin-bottom: 1em;
}

.highlight {
    background-color: rgba(0, 140, 213, 0.2);
    font-weight: bold;
}

.other-color {
    color: #21618e;
    font-weight: bold;
    text-shadow: 1px 1px 4px #ffffff;
}

.description {
    font-size: 1.125em;
    color: black;
}