<template>
	<div class="hello">
		<h1>Découvrir le {{ fedi }}</h1>
		<!--		<Spheres></Spheres>-->		Détail de {{$route.params.category }}
	</div>
</template>

<script lang="ts">
  import {Component, Prop, Vue} from 'vue-property-decorator';
  import Presentation from '@/components/Presentation.vue';
  import Spheres from '@/components/spheres/Spheres.vue';

  @Component({
    components: {Spheres, Presentation},
  })
  export default class Decouvrir extends Vue {
    @Prop() private fedi: string = 'Fédiverse';
  }
</script>

<style lang="scss" scoped>

</style>
