<template>

	<div class="container">
		<h1 class="title">
			Fédiverse
		</h1>
		<h3 class="description">
Le <span class="other-color">fédiverse</span> est un ensemble de réseaux sociaux <span class="highlight">alternatifs</span> qui <span class="highlight">communiquent les uns avec les autres.</span>
		</h3>
		<h3 class="description">
Ils fonctionnent grâce à des <span class="highlight">logiciels libres</span> et choisissent d'être <strong>sans publicité</strong>, de <span class="highlight">préserver votre vie privée</span> et <strong>ne filtrent pas</strong> le contenu auquel vous avez accès !
		</h3>
		<button class="button is-dark next">
			Continuer
		</button>
	</div>
</template>

<script lang="ts">
  import {Component, Vue} from 'vue-property-decorator';

  @Component
  export default class Description extends Vue {
    private msg: string = 'Join';
    private fedi: string = 'Fédiverse';
  }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.description{
	flex-wrap: wrap;
}
</style>
