<template>

	<section class="align-center">
		<div class="container">
			<h1 class="title">
				Fédiverse
			</h1>
			<h2 class="slogan">
				Des médias sociaux
respectueux de votre vie privée !
			</h2>
			<router-link class="button is-dark next" to="/description">
				Continuer
			</router-link>
		</div>
	</section>

</template>

<script lang="ts">
  import {Component, Vue} from 'vue-property-decorator';

  @Component
  export default class HelloWorld extends Vue {
    private msg: string = 'Join';
    private fedi: string = 'Fédiverse';
  }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.title {
	margin-top: 40%;
}
.slogan {
	font-size: 1.25em;
}
</style>
