<template>
	<div class="instance-suggestion content card-content">
		<a href="#">rejoindre</a>
		<article class="media">
			<figure class="media-left">
				<p class="image is-64x64">
					<img v-bind:src="instance.image">
				</p>
			</figure>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>{{instance.name}}</strong>
						<small>@johnsmith</small>
						<small>31m</small>
						<br> {{instance.description}}
					</p>
				</div>
				<nav class="level is-mobile">
					<div class="level-left">
						<a class="level-item">
							<span class="icon is-small"><i class="fas fa-reply"></i></span>
						</a>
						<a class="level-item">
							<span class="icon is-small"><i class="fas fa-retweet"></i></span>
						</a>
						<a class="level-item">
							<span class="icon is-small"><i class="fas fa-heart"></i></span>
						</a>
					</div>
				</nav>
			</div>
			<div class="media-right">
				<button class="delete"></button>
			</div>
		</article>
	</div>
</template>

<script lang="ts">
  import {Component, Prop, Vue} from 'vue-property-decorator';

  @Component({
    components: {},
  })
  export default class Decouvrir extends Vue {
    @Prop() private instance: any = {
      image: 'https://placecage.com/200/300',
      name: 'Le nom',
      people: '670',
      description: 'la description',
    };
  }
</script>

<style lang="scss" scoped>

</style>
