<template>
	<div class="container">
		<h1 class="title">Rejoindre le {{ fedi }}</h1>
		<h2 class="subtitle">
			Choisir une instance
		</h2>
		<div>

			<p>
				Je cherche un endroit qui permette <strong>principalement</strong> de:</p>
				<select id="" name="">
					<option value="microblogging">publier des messages et des médias de toutes sortes</option>
					<option value="photo">publier des photos</option>
					<option value="photo">rédiger et lire des articles</option>
					<option value="photo">gérer de la musique</option>
					<option value="photo">publier des chaînes de vidéos</option>
					<option value="events"> organiser des évènements</option>
				</select>
			<hr>

			<p>où l'on parle :</p>
			<select id="lang" name="lang">
				<option value="all">n'importe quelle langue</option>
				<option value="en">anglais</option>
				<option value="fr">français</option>
			</select>
			<p>
				Ces instances pourraient vous intéresser:
			</p>
			<ul class="columns suggestion-instance">
				<li class="column is-4">
					<Instance></Instance>
				</li>
			</ul>

		</div>

	</div>
</template>

<script lang="ts">
  import {Component, Prop, Vue} from 'vue-property-decorator';

  @Component
  export default class Rejoindre extends Vue {
    @Prop() private fedi: string = 'Fédiverse';
  }
</script>

<style lang="scss" scoped>

</style>
