<section class="sphere-linkings">
	<div class="linkings">
		<div class="linking"></div>
		<div class="linking"></div>
		<div class="linking"></div>
		<div class="linking"></div>
		<div class="linking"></div>
	</div>
</section>

