@import "css/fonts";
@import "css/typography";

body {
  margin: 0;
  padding: 0;
  background: url("assets/backgrounds/fr_Pepper-and-Carrot_by-David-Revoy_E22P01-fond2avec.jpg") fixed center;
  background-size: cover;
  font-family: "SourceSans", sans-serif;
}

.logo-top {
  display: inline-block;
  margin-right: 1em;
}

#app {
  min-height: 100vh;
  padding-bottom: 10vh;

  .hero-foot {
    .navbar {
      position: fixed;
      bottom: 0;
      height: 10vh;
      display: block;
      width: 100vw;
      padding: 1.25rem 0.5rem;
      background: #222;

      .btn {
        margin: 0.5em;
        padding: 1.5em;
        border-radius: 3px;
        border: solid 1px #2c3e50;
        background: #2c3e50;
        color: white;
        font-weight: 600;

        &:hover {
          background: #222;
          color: yellowgreen;
        }
      }
    }

    .discover {
      float: left;
    }

    .join {
      float: right;
      margin-right: 1em;
    }
  }
}

.next {
	float: right;
}
