<template>

	<div id="app">
		<section class="hero is-full">
			<!-- Hero head: will stick at the top -->
			<div class="hero-head">

				<nav class="navbar ">
					<div class="container">
						<div class="navbar-brand">
							<router-link class="navbar-item" to="/">
								<img alt="Logo" class="logo-top" src="../src/assets/logo.png"> Joinfediverse
							</router-link>
						</div>
					</div>
				</nav>
			</div>

			<!-- Hero content: will be in the middle -->
			<div class="hero-body">
				<div class="view">
					<router-view></router-view>
				</div>
			</div>

			<!-- Hero footer: will stick at the bottom -->
			<div class="hero-foot is-dark">
				<nav class="navbar">
					<router-link class=" is-info discover button " to="/spheres">Découvrir</router-link>
					<router-link class=" is-primary join button is-danger bd-rainbow" to="/rejoindre">Rejoindre
					</router-link>
				</nav>
				<!-- JoinFediverse démo par CipherBliss-->
			</div>
		</section>

	</div>
</template>

<script lang="ts">
  import {Component, Vue} from 'vue-property-decorator';
  import HelloWorld from './components/HelloWorld.vue';

  @Component({
    components: {
      HelloWorld,
    },
  })
  export default class App extends Vue {
  }
</script>

<style lang="scss">
	@import "./assets/main.scss";
</style>
